<header class="bg-danger bg-gradient text-white py-5">
    <div class="container">
      <div class="row">
        <div class="col-md-3 text-left text-md-center md-3">
            <img class="card-img mb-3 " src="https://i.ibb.co/tH70kBj/Picture1.jpg" alt="Card image" >
        </div>
        <div class="col-md-9">
          <h1>Dizon Pauleen Ann G.</h1>
          <p class="border-top pt-3">Hi, I'm Pauleen. I'm a Web Developer who loves editing. I am a Senior Highschool Graduate at Holy Angel University and finished the course BS Information Technology Major in Web Development. Above all else, I value clarity, empathy, and integrity. These ideas guide my problem-solving and life-in-general approaches.</p>
        </div>
      </div>
    </div>
  </header>
<router-outlet></router-outlet>
