<header class="bg-secondary bg-gradient text-white py-5">
  <div class="container">
    <div class="row">
      <div class="col-md-3 text-left text-md-center mb-3">
        <img class="card-img mb-3 " src="https://i.ibb.co/SmBxpkH/3861288.png" alt="Card image" >

      </div>
      <div class="col-md-9">
        <h1>Contact</h1>
        <p class="border-top pt-1"><br>Phone Number: 09773603675
          <br>Email Address: pgdizon@student.hau.edu.ph
          <br>Home Address: Sta. Lucia Rest. Magalang Pampanga</p>
      </div>
    </div>
  </div>
</header>

<router-outlet></router-outlet>


