<br> <main class="container">
  <div class="row">
    <div class="col-md mb-5">
      <h2 class="mb-5">Skills</h2> 
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-md-9">
            <div class="row align-items-center">
              <div class="col-lg-5">
                <div class="resume-base bg-danger user-dashboard-info-box pb-2">
                  
                  <div class="mt-0">
                    
                    <div class="progress bg-dark">
                      <div class="progress-bar bg-white" role="progressbar" style="width:55%" aria-valuenow="55" aria-valuemin="0" aria-valuemax="100">
                        <div class="progress-bar-title text-white">SEO</div>
                        <span class="progress-bar-number text-white">70%</span>
                      </div>
                    </div>
                    <div class="progress bg-dark">
                      <div class="progress-bar bg-white" role="progressbar" style="width:50%" aria-valuenow="55" aria-valuemin="0" aria-valuemax="100">
                        <div class="progress-bar-title text-white">JavaScript</div>
                        <span class="progress-bar-number text-white">45%</span>
                      </div>
                    </div>
                    <div class="progress bg-dark">
                      <div class="progress-bar bg-white" role="progressbar" style="width:55%" aria-valuenow="55" aria-valuemin="0" aria-valuemax="100">
                        <div class="progress-bar-title text-white">HTML/CSS</div>
                        <span class="progress-bar-number text-white">55%</span>
                      </div>
                    </div>
                    <div class="progress bg-dark mb-md-0">
                      <div class="progress-bar bg-white" role="progressbar" style="width:60%" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100">
                        <div class="progress-bar-title text-white">PHP</div>
                        <span class="progress-bar-number text-white">60%</span>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
             
                      
                        </div>
                      </div>
                    </div>
                  </div>
    </div>
    <div class="col-md mb-5">
      <h2 class="mb-5">Education</h2> 
      <ul>
        <li>
          <h6 class="text-primary">Holy Angel University 2017-2019</h6>
          <p>#1 Holy Angel St, Angeles, 2009 Pampanga</p>
        </li>
        <li>
          <h6 class="text-primary">Magalang Christian Ecumenical School Inc. 2012-2017</h6>
          <p>Marbea Magalang, Pampanga</p>
        </li>
        <li>
          <h6 class="text-primary">Christian Vision Academy 2006 - 2012</h6>
          <p>Sta. Lucia Resettlement Magalang, Pampanga</p>
        </li>
      </ul>
    </div>     
  </div>    
  
  
</main>

<router-outlet></router-outlet>


